:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --light-brown: #B4905D; /*rgb(180,144,93)*/
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 300;
  color: black;
  text-decoration: inherit;
}

a:hover {
  color: var(--light-brown);
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  width: 100vw;
  margin: 0;
  padding: 0;
}

nav {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  width:100%;
}

.menu-icon {
  height: 2em;
}

.menu-icon:hover {
  color: var(--light-brown);
}

.menu-dropdown:after{
  display: none;
}

.chickadee-icon {
  height: 2.5em;
  margin-right: 2rem;
}

.loading{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}

.loading-arrow{
  height: 2em;
  margin: 1rem;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}




h1 {
  font-size: 3em;
  font-weight: 200;
  line-height: 1.1;
  text-align: center;

}

h1:hover {
  color: var(--light-brown);
}

h3 {
  text-align: center;
}

h4 {
  font-weight: 300;
  font-size: 2em;
}

h5 {
  margin-bottom: 0;
}

main {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.filter-bar {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.region-dropdown {
  text-align: center;
  margin: 0 0 0 1rem
}

.species-dropdown {
  margin: 0 0 0 1rem
  
}


.sub-region-dropdown {
  text-align: center;
  margin: 0 0 0 1rem
}

.notable-switch {
  margin: 0 0 0 1rem
}

.region-dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
}

.species-dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
}

.observations-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.observation-table {
  margin: 1rem;
  width: 95%;
}

footer {
  display:flex;
  justify-content:center;
  align-items: center;
  padding-top: 2rem;
}

footer p {
  padding: 1rem;
  margin-bottom: 0;
}

footer img {
  height: 1.5rem;
  margin: .5rem;
  margin-right:1rem;
  transition: .2s;
}

footer img:hover{
  transform: scale(1.2);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--light-brown);
  }
  button {
    background-color: #f9f9f9;
  }
}